body {
  margin: 0;

}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 150px;
}

.box {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  min-height: 500px;
  min-width: 500px;
}

.box:nth-child(even) {
  background-color: greenyellow;
}

.box:nth-child(odd) {
  background-color: red;
}
